<li id="li-profile">
    <div class="collapsible-header"><i class="fas fa-volleyball-ball"></i> Profile</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Displays the profile of you or the mentioned user
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    level
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Display your profile</h4>
                    <p>
                        Command: <span class="highlight-me">!profile</span>
                    </p>
                    <h4>Display someone's profile</h4>
                    <p>
                        Command: <span class="highlight-me">!profile @user</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    The background image and embed colour can be customized if you are a Servant-Supporter <img class="emote-big" src="/images/servantLove.png" alt="servantLove">
                </p>
            </div>
        </div>
    </div>
</li>
