<li>
    <div class="collapsible-header"><i class="far fa-comments"></i> Poke</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Poke someone
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    boop
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Poke someone</h4>
                    <p>
                        Command: <span class="highlight-me">!poke @user</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>

                </p>
            </div>
        </div>
    </div>
</li>
