<li>
    <div class="collapsible-header"><i class="fas fa-info-circle"></i> Supporter</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Support me <img class="emote-big" src="/images/servantLove.png" alt="servantLove"><br>
                    Information about Patreon, PayPal and Server Boosts<br />
                    Alternatively, check out the <a href="donate">Donate</a> page
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Aliases</h3>
                <p>
                    patreon<br />
                    patron<br />
                    donation<br />
                    donate<br />
                    serverboost<br />
                    boost
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Display information</h4>
                    <p>
                        Command: <span class="highlightme">!supporter</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    This is a hobby project of mine, so I made this in my free time. Also it's completely free without any ads nor data selling.<br />
                    Because of that I am very grateful to everyone who wants to support me.
                </p>
            </div>
        </div>
    </div>
</li>
