<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | 500</title>
<meta name="title" content="Servant | 500 — Internal Server Error">
<meta name="description" content="Something broke on our end!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,useful,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/404">
<meta property="og:title" content="Servant | 500 — Internal Server Error">
<meta property="og:description" content="Something broke on our end!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/404">
<meta property="twitter:title" content="Servant | 500 — Internal Server Error">
<meta property="twitter:description" content="Something broke on our end!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>

<div class="main-wrapper">
  <div class="notfound-wrapper">
    <div class="notfound-featured">
      <div class="notfound-text">
        <h1>500</h1>
        <h2>Ouchie! Something broke!</h2>
        <a href="/">Go back to home</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
