<div class="disclaimer disclaimer-margin">
  <p>Moderation commands can only be used by:</p>
  <ol>
    <li>The Server Owner</li>
    <li>Users with "Administrator" permission</li>
    <li>Users with at least one Servant-Moderator role that can be set up in the dashboard</li>
  </ol>
</div>


<ul class="collapsible">
  <%- include('moderation/clear') -%>
  <%- include('moderation/editembed') -%>
</ul>
