<div id="disclaimer" class="dismiss" data-component="dismissible-item" data-type="info" data-value="
<p style='float:right'>
<img height='50px' width='50px' style='border-radius: 50%; vertical-align: middle;' src='/images/author_ava.png' alt='Author Avatar'></div>
<strong style='line-height: 50px;'>A message from the author</strong>
</p>
<p>
<h2>
<strong>Dear <%= req.user.username %>,</strong>
</h2>
<h3>Thank you for your interest in Servant's dashboard.</h3>
</p>
<p>
Currently the dashboard is a
<strong>work in progress</strong>.<br /> I am working hard to make a useful and intuitive dashboard!<br /> Please check in again later.<br />
<br /> To stay tuned, you may join the
<a style='color:white; text-decoration: underline;' href='https://servantskingdom.tanc.red/'' target='_blank'>Support Server</a>.<br /> I will post an announcement once the dashboard is finished.
</p>
<hr/>
<small>
<i>Message as of 27th April 2020</i><br />
<i>Latest update: 05th July 2020</i>
</small>
"></div>

<script>
    if (getCookie("disclaimer")) {
        $('#disclaimer').removeClass('dismiss');
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
