<li id="li-editembed">
    <div class="collapsible-header"><i class="fas fa-user-cog"></i> EditEmbed</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Edit an embed message from Servant
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>

                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Edit an embed</h4>
                    <p>
                        Command: <span class="highlight-me">!editembed [message link]</span><br />
                        Example: <span class="highlight-me">!editembed https://discord.com/channels/720173190(...)</span><br />
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    How to get the message link:<br />
                    - Desktop: Hover over message > Use the 3 dots menu > Copy Message Link<br />
                    - Android: Press and hold message > Share > Copy<br />
                    - iOS: Press and hold message > Copy Message Link
                </p>
            </div>
        </div>
    </div>
</li>
