<li id="li-poll">
    <div class="collapsible-header"><i class="far fa-lightbulb"></i> Poll</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Create a poll with up to 10 custom answers
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    voting<br />
                    vote
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Start a poll</h4>
                    <p>
                        Command: <span class="highlight-me">!poll "[question]/[answer1]/(...)/[answer10]" [time arguments]</span><br />
                        Example: <span class="highlight-me">!poll "When do you have time?/Mon/Tue/Wed/Thu/Fri/Sat/Sun" 12h</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    After executing this command, you will be asked if you want to allow multiple answers.<br />
                    <br />
                    Valid arguments:<br />
                    - Days: days, day, d<br />
                    - Hours: hours, hour, h<br />
                    - Minutes: minutes, minute, min, m
                </p>
            </div>
        </div>
    </div>
</li>
