<li id="li-rate">
    <div class="collapsible-header"><i class="far fa-lightbulb"></i> Rating</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    User rating out of 5
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    rate
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Start a rating</h4>
                    <p>
                        Command: <span class="highlight-me">!rating "Optional title" [time arguments]</span><br />
                        Example 1: <span class="highlight-me">!rating "Last episode" 10d</span><br />
                        Example 2: <span class="highlight-me">!rating 10d</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    Valid arguments:<br />
                    - Days: days, day, d<br />
                    - Hours: hours, hour, h<br />
                    - Minutes: minutes, minute, min, m
                </p>
            </div>
        </div>
    </div>
</li>
