<li id="li-remindme">
    <div class="collapsible-header"><i class="far fa-lightbulb"></i> RemindMe</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Set up an RemindMe to a specific time<br />
                    Other members can upvote the RemindMe to also get reminded<br />
                    The RemindMe will have a jump URL to the context
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Aliases</h3>
                <p>
                    reminder<br />
                    alarm
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Start a reminde me</h4>
                    <p>
                        Command: <span class="highlight-me">!remindme "Optional Topic" [time arguments]</span><br />
                        Example: <span class="highlight-me">!remindme "Pat Servant" 3d 2h 1m</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    The author will always be reminded, no matter whether they reacted or not.<br />
                    <br />
                    Valid arguments:<br />
                    - Days: days, day, d<br />
                    - Hours: hours, hour, h<br />
                    - Minutes: minutes, minute, min, m
                </p>
            </div>
        </div>
    </div>
</li>
