<li id="li-setbirthday">
    <div class="collapsible-header"><i class="far fa-lightbulb"></i> SetBirthday</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Set or update your birthday and the allowed servers.<br />
                    If you already have a birthday set in the Dashboard, it will be updated.<br />
                    The current server will be added as allowed Birthday-Server.
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    setbday<br />
                    addbirthday<br />
                    addbday
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Set or update your birthday and allow this server to access it</h4>
                    <p>
                        Command: <span class="highlight-me">!setbirthday yyyy-mm-dd</span><br />
                        Example: <span class="highlight-me">!setbirthday 1990-12-31</span>
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    This is just a quick way of setting a birthday and birthday server.<br />
                    To fully manage your birthday settings, please visit the <a href="/dashboard">Dashboard</a>.
                </p>
            </div>
        </div>
    </div>
</li>
