<li>
    <div class="collapsible-header"><i class="far fa-lightbulb"></i> Signup</div>
    <div class="collapsible-body">
        <div class="cmd-wrapper">
            <div class="cmd-description">
                <h3><i class="fas fa-info-circle"></i> Description</h3>
                <p>
                    Easy event organisation by letting users sign up
                </p>
            </div>
            <div class="cmd-alias">
                <h3><i class="fas fa-signature"></i> Alias</h3>
                <p>
                    event
                </p>
            </div>
            <div class="cmd-usage">
                <h3><i class="fas fa-exclamation-circle"></i> Usage</h3>

                <div class="usage-box">
                    <h4>Start a signup</h4>
                    <p>
                        Command: <span class="highlightme">!signup "Optional topic" [time & participants]</span><br />
                        Example 1: <span class="highlightme">!signup "Raiding Event" 3d 2h 1m 10p</span><br />
                        Example 2: <span class="highlightme">!signup 3d 2h 1m 10p</span><br />
                        тоб 3d + 2h + 1m + 10p = 3 Days, 2 Hours, 1 Minute, 10 Participants
                    </p>
                </div>
            </div>
            <div class="cmd-hint">
                <h3><i class="fas fa-comment-dots"></i> Hint</h3>
                <p>
                    The amount of participants has to be within 1 and 100 inclusively.<br />
                    <br />
                    Valid arguments:<br />
                    - Days: days, day, d<br />
                    - Hours: hours, hour, h<br />
                    - Minutes: minutes, minute, min, m<br />
                    - Participants: participants, participant, p
                </p>
            </div>
        </div>
    </div>
</li>
